#splash-screen{
    width:525px;
    height: 800px;
    background-image:url("../images/blackHole-s1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-left:200px;
    margin-right:200px;
}
#image-pilot{
    justify-content: center;
    align-items: center;
    width: 100%;
}
#my-canvas{
    background-image: url("../images/blackHole-s2.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-left:200px;
    margin-right:200px;

}
#gameover-screen{
    width:525px;
    height: 800px;
    background-color:black;
 
    display:flex;
    justify-content: center;
    align-content: center;
    align-items:center;
    flex-direction:column;
    margin-left:200px;
    margin-right:200px;
    color:white;

}
/*#imageFinal{
    width:100%;
    justify-content: center;
    align-items: center;
}*/
h1 {
    display:flex;
    font-family: "Orbitron";
   
    color:rgb(176, 176, 8);
    font-size :90px;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-top: 20px;
    margin-bottom:20px;
    flex-flow: wrap;
}
h3{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron";
    font-size: 40px;
    padding-top:0;
    padding-bottom: 0;
    margin-top:0;
    margin-bottom:0;
    
}
#instrucciones{
    font-family:"Orbitron";
justify-content: center;
align-items:center;
margin-top:10;
margin-bottom: 10px;
color:rgb(239, 239, 14);
}
#button-start{
   
    font-family:"Orbitron";
    font-weight: bolder;
    padding-top:20;
    margin-bottom:20px;
    width:60px;
    height: 40px;
    background-color:rgb(176, 176, 8) ;
    border-radius:9px;
    border:none;
   

}
.botones{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top:100px;
    margin-bottom: 100px;
    gap:40px;
   
}
#gameOver{
    
 
   
    font-family:"Orbitron";
    font-size:60px;
    color:rgb(192, 19, 19);
}
    
h5{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron";
    font-size: 25px;
    padding-top:0;
    padding-bottom: 0;
    margin-top:30;
    margin-bottom:0;
    color:white;
}
#tryAgain{
    font-family:"Orbitron";
    padding-top:20;
    width:60px;
    height: 40px;
    background-color:rgb(176, 176, 8) ;
    border-radius:9px;
  
}

#home{
    font-family:"Orbitron";
    padding-top:20;
    width:60px;
    height: 40px;
    background-color:rgb(176, 176, 8) ;
    border-radius:9px;
}